$board-color: #384048;
$board-color-dark: #21262b;
$uncertain-color: paleturquoise;
$uncertain-color-light: #d4f7f7;/*#eafbfb TODO test*/
$uncertain-color-dark: #57dbdb;/*#2dd2d2 TODO test*/
$true-color: chartreuse;
$true-color-light: #ceff99;
$true-color-dark: #66cc00;
$false-color: red;
$false-color-light: #ff9999;
$false-color-dark: #cc0000;

.App {
  width: 100vw;
  height: 100vh;
}

.App-header {
  height: 100px;
  width: 100%;
  background-color: white;
  position: absolute;
  z-index: 1;
}

.Board {
  position: absolute;
  z-index: 0;
  width: 3840px;
  height: 2160px;
  background-color: $board-color;
  cursor: move;
}

.Board.ArrowMode {
  background-color: $board-color-dark;
}

.Board canvas {
  width: 100%;
  height: 100%;
}

.Tile {
  box-sizing: border-box;
  padding: 20px 15px;
  background-color: $uncertain-color;
  border: 3px solid $uncertain-color-dark;
  box-shadow: 4px 4px 4px rgba(0,0,0,.5);
  /*box-shadow: 4px 4px 4px #1C2024;
  /*box-shadow: 4px 4px 2px #2A3036;*/
  outline: 0px; /* disable textarea blue border on focus */
    /* Notes: Even with a width different than 0, outline-style is still set to none by default */
    /*        I could delete this line now that I have a .Tile:focus selector */
  font: inherit; /* textarea has default font properties */
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}

.Tile.Edition, .Tile.ArrowMode:hover {
  outline: 1px inset white;
  box-shadow: 4px 4px 4px rgba(255,255,255,.5);
}

.Tile.Edition {
  color: white;
  font-weight: bold;
  -moz-user-select: auto;
  -webkit-user-select: auto;
  -ms-user-select: auto;
  user-select: auto;
  cursor: text;
}

.Tile::selection, .Tile::-moz-selection {
  background-color: $board-color;
}

.Tile.True {
  background-color: $true-color;
  border-color: $true-color-dark;
}

.Tile.False {
  background-color: $false-color;
  border-color: $false-color-dark;
}

.TileMenu {
  box-sizing: border-box;
  box-shadow: 4px 4px 4px rgba(0,0,0,.5);
  background-color: snow;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: default;
}

.TileMenu img {
  margin: auto;
  height: 35px;
  width: 35px;
  border-radius: 35px;
  border-width: 0px;
  padding: 5px;
  box-sizing: border-box;
}

.TileMenu button {
  margin: auto;
  height: 35px;
  width: 35px;
  border-radius: 35px;
  border: 1px solid $board-color;
  background-color: $uncertain-color-light;
  cursor: pointer;
  transition-duration: 0.7s;
}

.TileMenu button:hover {
  background-color: $uncertain-color;
  border-color: black;
  /* Strangely, this property affects the classified buttons below,
   * but this behavior didn't occur with :active. */
}

.TileMenu button:active {
  transition-duration: 0s;
  background-color: $uncertain-color-dark;
}

.TileMenu button.True {
  background-color: $true-color-light;
}

.TileMenu button.True:hover {
  background-color: $true-color;
}

.TileMenu button.True:active {
  transition-duration: 0s;
  background-color: $true-color-dark;
}

.TileMenu button.False {
  background-color: $false-color-light;
}

.TileMenu button.False:hover {
  background-color: red;
}

.TileMenu button.False:active {
  transition-duration: 0s;
  background-color: $false-color-dark;
}

.TileMenu button.Delete, .DeleteArrow div {
  border-radius: 0;
  border-width: 0;
  background-color: white;
  background-image: url("trash.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.6;
  transition-duration: 0.7s;
}

.TileMenu button.Delete:hover, .DeleteArrow:hover div {
/* I want the trash icon to become opaque when the mouse is over
 * the largest button that contains it,
 * hence the div inside the DeleteArrow-class button. */
  opacity: 1;
}
